# vscode configuration files
.vscode/

# Python cache files
__pycache__/

# Python virtual environment
env/

# Ignore all markdown files except...
*.md
!README.md
!run_project.md

# Output files
Global-output/

.codex
